:root {
  --bg: rgb(31, 29, 27);
  --sliderThumb: rgb(250, 235, 215);
  font-size: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100%;
}

body {
  font-family: monospace;
  background-color: rgba(250, 235, 215, 0.356);
}

a {
  text-decoration: none;
}

header {
  position: relative;
  text-align: center;
  width: clamp(350px, 70vw, 500px);
  margin: 0 auto;
  font-family: monospace;
}

header h1 {
  font-family: 'Share Tech Mono', monospace;
  padding: 4rem .3rem;
  font-weight: 700;
  font-size: clamp(4rem, 10vw, 6rem);
}

header h2 {
  opacity: .7;
}

header a {
  text-decoration: none;
  padding: 2rem 1rem;
  background-image: linear-gradient(hsla(44, 28%, 73%, 0.582), rgba(161, 160, 134, 0.26));
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  position: relative;
  width: 100%;
  margin: 2rem auto;
  border-radius: 1rem;
  font-size: 5rem;
}

header p {
  position: relative;
  text-align: center;
  opacity: .7;
  font-size: .8rem;
  width: 80%;
  margin: 0 auto;
}

/* unvisited link */
header a:link {
  color: green;
}

/* visited link */
header a:visited {
  color: green;
}

/* mouse over link */
header a:hover {
  color: rgb(36, 190, 36);
  background-image: linear-gradient(hsla(44, 28%, 73%, 0.582), rgba(161, 160, 134, 0.404));
}

/* selected link */
header a:active {
  color: blue;
}

.bg {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bg);
}

#canvas1 {
  position: relative;
  width: 95vh;
  max-width: 100%;
  height: 95vh;
  max-height: calc(100vw - 12rem);
  margin: 1rem;
  border-radius: 0.5rem;
}

.menu {
  position: relative;
  height: 95vh;
  flex-basis: 9rem;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-around;
  background-color: rgb(46, 45, 45);
  color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  margin: 1rem 0rem 1rem 1rem;
  padding-top: 1%;
  padding-bottom: 1%;
}

/* .menu:hover {
  width: 8rem;
  transform: translate(0%, -50%);
} */

.menu input {
  display: block;
}

.slider {
  width: 75%;
  align-self: center;
  height: 0.3rem;
  opacity: 0.8;
  cursor: pointer;
  display: inline;
  -webkit-appearance: none;
  appearance: none;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  outline: none;
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--sliderThumb);
  opacity: .7;
  transition: opacity .2s;
}

.slider::-moz-range-thumb {
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  background: var(--sliderThumb);
  border-radius: 50%;
  opacity: .7;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb:hover{opacity: 1;}
.slider::-moz-range-thumb:hover{opacity: 1;}

#rootColor {
  background: linear-gradient(
    to right,
    hsl(0, 37%, 37%),
    hsl(20, 37%, 37%),
    hsl(40, 37%, 37%),
    hsl(60, 37%, 37%),
    hsl(80, 37%, 37%),
    hsl(100, 37%, 37%),
    hsl(120, 37%, 37%),
    hsl(140, 37%, 37%),
    hsl(160, 37%, 37%),
    hsl(180, 37%, 37%),
    hsl(200, 37%, 37%),
    hsl(220, 37%, 37%),
    hsl(240, 37%, 37%),
    hsl(260, 37%, 37%),
    hsl(280, 37%, 37%),
    hsl(300, 37%, 37%),
    hsl(320, 37%, 37%),
    hsl(340, 37%, 37%)
  );
}

#bgColor {
  background: linear-gradient(
    to right, 
    hsl(0, 78%, 91%),
    hsl(20, 78%, 91%),
    hsl(40, 78%, 91%),
    hsl(60, 78%, 91%),
    hsl(80, 78%, 91%),
    hsl(100, 78%, 91%),
    hsl(120, 78%, 91%),
    hsl(140, 78%, 91%),
    hsl(160, 78%, 91%),
    hsl(180, 78%, 91%),
    hsl(200, 78%, 91%),
    hsl(220, 78%, 91%),
    hsl(240, 78%, 91%),
    hsl(260, 78%, 91%),
    hsl(280, 78%, 91%),
    hsl(300, 78%, 91%),
    hsl(320, 78%, 91%),
    hsl(340, 78%, 91%)
  );
}

.menu label {
  align-self: flex-start;
  font-size: 0.8rem;
  margin-top: 1rem;
  padding-left: 1rem;
}

.btn {
  font-family: monospace;
  border: none;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  width: 80%;
  height: 3rem;
  border-radius: 0.4rem;
  background-color: rgb(46, 45, 45);
  color: antiquewhite;
  border: 2px solid antiquewhite;
}

.save {
  margin-bottom: 1rem;
}
.save, .clear, .reset {background-color: rgb(27, 26, 26)}

.popup {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  display: none;
  max-width: 100%;
  max-height: 50%;
  
}

.ex {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: -2.6rem;
  right: -1rem;
  font-size: 3rem;
  font-weight: 900;
  color: antiquewhite;
}

.ex:after {
  display: inline-block;
  content: "\00d7";
}

#img {
  width: 100%;
  height: auto;
  object-fit: contain;
  top: 0;
  left: 6rem;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 0.5rem;
}

.btnTxtContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 1px;
}

.textinputs {
  width: 50%;
}

.continue {
  width: 15%;
  align-self: flex-start;
}

.taTitle,
.taText {
  width: 100%;
  max-width: 100%;
  resize: vertical;
  overflow: hidden;
  padding: 1rem;
  cursor: text;
}

.taText {
  height: fit-content;
}

.postcards {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.card {
  position: relative;
  overflow: hidden;
  width: clamp(350px, 70vw, 500px);
  background-image: linear-gradient(hsla(44, 28%, 73%, 0.904), rgba(161, 160, 134, 0.815));
  /* background-image: url('cb2.jpg'); */
  color: rgba(0, 0, 0, 0.788);
  text-align: center;
  margin: 5rem 0;
  border-radius: 2rem;
  padding: 3rem 2% 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: .8rem;
}

.card h1 {
  padding: 1rem;
}

.card h1, .text {
  max-width: 80%;
  margin: 0 auto;
}
.from {
text-align: right;
opacity: .8;
font-size: .8rem;
margin: .5rem;
}


.deleteCard {
  position: absolute;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  top: -.5rem;
  right: 50%;
  transform: translate(50%);
  font-size: 3rem;
  font-weight: lighter;
  color: antiquewhite;
  display: none;
  transition: all 1s ease-in 200ms;
}

.deleteCard:after {
  display: inline-block;
  content: "\00d7";
}

.card:hover .deleteCard {
  display: block;
}