body {
    background-color: hsl(60, 2%, 19%);
}

header {
    position: relative;
    text-align: center;
    width: clamp(400px, 40vw, 450px);
    margin: 0 auto;
    font-family: monospace;
    color: antiquewhite;
  }
  
  header h1 {
    font-family: "Share Tech Mono", monospace;
    padding: 4rem 0.3rem;
    font-weight: 700;
    font-size: clamp(3rem, 5rem, 6rem);
  }
  
  header h2 {
    opacity: 0.7;
  }
  
  header a {
    text-decoration: none;
    padding: 2rem 1rem;
    background-image: linear-gradient(
      hsla(40, 20%, 71%, 0.932),
      rgba(207, 207, 201, 0.637)
    );
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
    display: block;
    position: relative;
    width: 100%;
    margin: 2rem auto;
    border-radius: 1rem;
    font-size: 5rem;
    transition: all 200ms;
  }
  
  header p {
    position: relative;
    text-align: center;
    opacity: 0.7;
    font-size: 0.8rem;
    width: 80%;
    margin: 0 auto;
  }
  
  /* unvisited link */
  header a:link {
    color: green;
  }
  
  /* visited link */
  header a:visited {
    color: green;
  }
  
  /* mouse over link */
  header a:hover {
    color: rgb(59, 163, 59);
    background-image: linear-gradient(
      hsl(40, 20%, 71%),
      rgba(207, 207, 201, 0.767)
    );
  }
  
  /* selected link */
  header a:active {
    color: rgba(36, 190, 36, 0.74);
    filter: brightness(.8)
  }

  .save {
    margin-bottom: 1rem;
  }
  .save,
  .clear,
  .reset {
    background-color: rgb(27, 26, 26);
  }

  /* CARDS */
 
.postcards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .card {
    position: relative;
    overflow: hidden;
    width: clamp(400px, 40vw, 450px);
    background-color: #d8dbca;
    background-image: url('../images/noise.png'), linear-gradient(
      hsla(40, 20%, 71%, 0.932),
      rgba(207, 207, 201, 0.637)
    );
    /* background-image: url('cb2.jpg'); */
    color: rgba(0, 0, 0, 0.788);
    text-align: center;
    margin: 5rem 0;
    border-radius: 2rem;
    padding: 3rem 2% 5rem;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 rgb(0, 0, 0);
  }
  
  .card img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 0.8rem;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.192);
  }
  
  .card h1 {
    padding: 1rem;
  }
  
  .card h1,
  .text {
    max-width: 80%;
    margin: 0 auto;
  }
  .from {
    text-align: right;
    opacity: 0.8;
    font-size: 0.8rem;
    margin: 0.5rem;
  }
  
  .deleteCard {
    position: absolute;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    top: -0.5rem;
    right: 50%;
    transform: translate(50%);
    font-size: 3rem;
    font-weight: lighter;
    color: antiquewhite;
    display: none;
    transition: all 1s ease-in 200ms;
  }
  
  .deleteCard:after {
    display: inline-block;
    content: "\00d7";
  }
  
  .card:hover .deleteCard {
    display: block;
  }

